	.box1{background: yellow; grid-column: 1; height: auto; width: auto;}
	.box2{background: LightPink; height: auto; width: auto;}
  	.box3{background: PaleTurquoise; height: auto; width: auto;}
  	.box4{background: yellow; height: auto; width: auto;}
  	.box5{background: LightPink; height: auto; width: auto;}
  	.box6{background: PaleTurquoise; height: auto; width: auto;}
  	.box7{background: yellow; height: auto; width: auto;}
  	.box8{background: LightPink; height: auto; width: auto;}
  	.box9{background: PaleTurquoise; height: auto; width: auto;}
	.container {
		font-size: 30px;
		height: auto;
		min-height: 800px;
		text-align: center;
		/*background-color: #141414;*/
		padding: 20px 0;	
		display: grid;
		grid: 100px / auto auto auto;
		grid-gap: 10px;
	}
	/* Side navigation menu*/
	.sidebar {
		margin: 0;
		padding: 0;
		position: fixed;
		height: 100%;
		width: 100px;
		background-color: #141414;
		overflow: auto;		
	}
	/* Sidebar links */
	.sidebar a {
		display: block;
		color: white;
		padding: 16px;
		text-decoration: none;
		font-size: 15px;
		text-align: center;
	}
	/* Active link */
	.sidebar a.active {
		background-color: green;
		color: white;
	}
	/* Mouse over links */
	.sidebar a:hover:not(.active) {
		background-color: #2b0080;
		color: white;
	}
	/* On screens less than 700px wide, sidebar is on top */
	@media screen and (max-width: 700px) {
		.sidebar {
			width: 100%;
			height: auto;
			position: relative;
		}
		.sidebar a {float: left;}
	}
	/* On screens less than 400px, bar is vertical not horizontal */
	@media screen and (max-width: 400px) {
		.sidebar a {
			text-align: center;
			float: none;
		}
	}
	.background {
		background-color: #141414;
	}